# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
jspm_packages/

# Optional npm cache
.npm

# Environment variables
.env

# Build output
dist/
build/

# OS files
.DS_Store
Thumbs.db
